.content-body{
  min-height:600px;
  margin-bottom: 0px;
}
.card-text{
  font-size: 14px;
  font-weight: 300;
}
.activator-icon{

}
#cardadd{
  z-index: 103;
}
#card-tmp-tille{
  height: 100%;
  width: 80%;
}
#card-tmp-detail{
  height: 100%
  width: 80%;
}
#card-tmp{
  display: none;
  position: absolute;
  top:20%;
  left: 30%;
  height: 60%;
  width: 40%;
  z-index: 102;
}
#bg-overlay{
    background-color:rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
}
